body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Courier New (monospace), Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto; 
    padding: 20px;
    /* display: flex; */
    justify-content: space-around;
    text-align: center;
    background: #a8dadc;
    color: #1D3557;
    border-bottom: 6px solid #f72585;
    border-radius: 25px;
    box-shadow: 10px 10px;
    animation-name: card-change;
    animation-duration: 4s;
}

@keyframes card-change {
  from {background-color: #a8dadc;}
  to {background-color: #fdf0d5;}
}
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

h3 {
    hover: background-color:blue;
}

h3:hover {
  background-color: #f1faee;
}

.border-blue {
    border: 1px dotted #264653;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
